/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 
.swe-logo-thumb-listing {
    height: 50px;
    width: auto;
}
.postbox-container .swe-div {
    width: 10%;
    padding: 0 1% 0 0;
}
.postbox-container .swe-inptfield {
    width: 89%;
}
input#swe_logo_url_field {
    width: 350px;
}
.logo_th {
    float: left;
    width: 10%;
    display: block;
}
.logo_td {
    width: 80%;
}
.logo_th label {
    display: block;
    font-weight: bold;
    color: #000;
    padding-top: 5px;
}
/* Tabs Css */
.well {
    padding: 10px !important;
    box-shadow: 1px 2px 12px 2px inset #ccc;
}

.heading_tab{
	padding: 10px !important;
	border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	margin: 20px 0 0px !important;
    background: #007fff;
    color: #fff;
}

#tabs {
    padding: 10px;
    box-shadow: 1px 1px 10px 1px inset #ccc;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -1px;
}

ul.ui-tabs-nav{
	border-top: 0px;
    border-left: 0px;
    border-right: 0px !important;
	background:transparent !important;
}

.form_control_tale th {
    padding: 20px 10px;
	vertical-align: top;
    text-align: left;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
}
.form_control_tale td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}
.form_control_tale td label {
    display: block;
}
.swe-select{
	padding: 3px 25px;
    width: 140px;
}
#swe_logo_help_center {
    border: 1px solid #ccc;
    padding: 10px 30px;
    background: #fff;
    box-shadow: 1px 1px 10px inset #ccc;
}
p.swe_shortcode {
    font-size: 20px;
	color:#000;
}
span.or {
    background: #007fff;
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    width: 30px;
    height: 30px;
    display: block;
}